[defaults]
# (pathlist) Comma-separated list of Ansible inventory sources
inventory = inventory/hosts.yml

# (string) Sets the login user for the target machines
# When blank it uses the connection plugin's default, normally the user currently executing Ansible.
remote_user = vagrant

# (boolean) Set this to "False" if you want to avoid host key checking by the underlying connection plugin Ansible uses to connect to the host.
# Please read the documentation of the specific connection plugin used for details.
host_key_checking = False

# (bool) This controls whether a failed Ansible playbook should create a .retry file.
retry_files_enabled = False
